
ion-content {
    width: 100%;
    height: 80%;
    --background: rgba(0, 119, 255, 0.8) url(../../../assets/wallpapers/computer_2.png) center center / cover;
    --background-size: cover;
    --background-position: center;
}

.claseA {
    --background: #1F9833;
}

.claseB {
    --background: #FF6C32;
}

.textbox {
    fill-opacity: unset;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 6px;
    
    border: 3px solid var(--ion-color-light);
    border-radius: 3px;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    --background: #fff;
}
  
.contenedor-mensaje {
    border-radius: 3%;
    margin: 3px;
    padding: 5px;
    display: table-row;
    width: 60%;
}

span{
    color:#2f2e2e
}
.time {
    font-size: small;
}

.usuario-actual {
    background-color: rgb(39, 233, 220);
    margin-left: auto; /* Esto empujará el div hacia el margen derecho */
    margin-right: 10px;
    float: right; /* Hacer que el div flote hacia la derecha */
    text-align: right;
    //margin-left: 20px;
    p{
        font-size: 18px;
        margin-bottom: 1px;
        margin-top: 6px;
    }
}

.usuario-ajeno {
    background-color: rgb(245, 245, 245);
    margin-right: auto; /* Esto empujará el div hacia el margen izquierdo */
    margin-left: 10px;
    float: left; /* Hacer que el div flote hacia la izquierda */
    //margin-right: 20px;

    p{
        font-size: 18px;
        margin-bottom: 1px;
        margin-top: 8px;
    }
}
