<ion-header>
  <ion-toolbar style="color: #ffffff;"
  [ngClass]="{'claseA': this.chat == 'A', 'claseB': this.chat == 'B'}">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name="arrow-back-sharp" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>PPS - 4{{ this.chat }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="mensajes" *ngIf="this.listMessages.length > 0" #messagesContainer>
    <div *ngFor="let mensaje of listMessages">
      <div class="contenedor-mensaje"
        [ngClass]="{
          'usuario-actual': mensaje.idEmisor == this.loggedUser.id,
          'usuario-ajeno': mensaje.idEmisor != loggedUser.id
        }">
        <span *ngIf="mensaje.idEmisor != loggedUser.id" style="font-size: small;">{{ getName(mensaje.idEmisor) }}</span>
        <p style="font-weight: 500; color: black;">{{ mensaje.texto }}</p>
        <span class="time">{{ mensaje.fecha | date:'dd/MM/yyyy - HH:mm' }}</span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item [ngClass]="{'claseA': this.chat == 'A', 'claseB' : this.chat == 'B'}">
      <ion-input class="textbox" color="dark" placeholder="Escriba su mensaje" [(ngModel)]="message">
      </ion-input>
      <ion-buttons style="color: #ffffff;" slot="end">
        <ion-button (click)="sendMessage()"><ion-icon name="send-sharp" size="large"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>